html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.code-block
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    aspect-ratio: 2/1;
    width: 10vw;

    text-align: center;

    border-top-style: solid;
    border-bottom-style: solid;
    
    border-width: 2px;
    border-color: black;
}

.code-block-slot
{
  width: 10vw;
  aspect-ratio: 2/1;
  border: black 2px solid;
}


.varlit
{
    height: 45%;
    aspect-ratio: 1;
    background-image: linear-gradient(to right, palevioletred, white);
    border: black 2px solid;
}

.var
{
    height: 45%;
    aspect-ratio: 1;
    background-color: red;
    border: black 2px solid;
}

.dummy.lit
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    aspect-ratio: 1;
    background-color: white;
    border: black 2px solid;
}

.equality-block
{
  background-color: orchid;
}

.expression-block
{
  background-color: orange;
}

.assignment-block
{
  background-color: rgb(110, 75, 239);
}

.function-block
{
  background-color: lightgreen;
}

.scope-block
{
  background-color: cyan;
  border: blue;
}



.logic-block
{
  background-color: yellow;
}

.sideBar
{
  
  height: 100%;
  width: 5%;
}

.scope-block .right
{
  background-color: orchid;
}

.equality-block .right
{
  background-color: yellow;
} 

.assignment-block .right
{
  background-color: orange;
}

.logic-block .right
{
  background-color: orchid;
}

.code-block p
{
  height: fit-content;
  font-size: 2vw;
  font-weight: bold;
}

.line
{
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scope-divider
{
  width: 10vw;
  background-color: cyan;
  background-image: linear-gradient(90deg, transparent 95%, black 5%);
}

.scope-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.else
{
  background-image: linear-gradient(90deg, cyan 95%, black 5%);
}

.threequarters
{
  width: 6.25vw;
  aspect-ratio: 5/4;
  justify-content: space-between;
}

.half
{
  width: 5vw;
  aspect-ratio: 4/4;
  justify-content: space-between;
}