@page
@model COMP_4956_Projects.Pages.testingModel
@{
}
@section Scripts
{
  <script type="module" defer src="js/testing.js"></script>
}
      
  
<div ondrop="drop(event)" ondragover="allowDrop(event)" class="testContainer" id="test1"></div>
<div class="testContainer2 line-container" id="test2"></div>