/* _content/COMP-4956-Projects/Pages/Index.cshtml.rz.scp.css */
p[b-dr5i30qvxp]
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
 
.sidebar[b-dr5i30qvxp] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}
.sidebar .active[b-dr5i30qvxp] {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
  
.content-wrapper[b-dr5i30qvxp] {
    background-color: rgb(231, 231, 231);   
    min-height: 100vh; 
    border-radius: 20px;
}

.tab-headers[b-dr5i30qvxp] {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab[b-dr5i30qvxp] {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    position: relative; 
    top: 1px; 
    transition: all 0.3s ease;
}

.tab:hover[b-dr5i30qvxp] {
    background-color: #f0f0f0;
}

.tab.active[b-dr5i30qvxp] {
    background-color: #f0f0f0;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1) inset; 
}

.close-tab[b-dr5i30qvxp] {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.tab-content[b-dr5i30qvxp] {
    border: 1px solid #ddd;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}


.tab-content.active[b-dr5i30qvxp] {
    display: block;
}


/* _content/COMP-4956-Projects/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pm2wphvbi2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pm2wphvbi2] {
  color: #0077cc;
}

.btn-primary[b-pm2wphvbi2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pm2wphvbi2], .nav-pills .show > .nav-link[b-pm2wphvbi2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pm2wphvbi2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pm2wphvbi2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pm2wphvbi2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pm2wphvbi2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pm2wphvbi2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/COMP-4956-Projects/Pages/testing.cshtml.rz.scp.css */
.testContainer[b-ij9v9lo6fy]
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 75vw;
    border: 1px solid black;    
}

.code-block[b-ij9v9lo6fy]
{
    width: 100px;
    border: #0000ff 1px solid;
}

.var[b-ij9v9lo6fy]
{
    width: 20px;
    color: #0000ff;
}

#hi[b-ij9v9lo6fy]
{
    width: 200px;
    color: #0000ff;
}

